<template>
    <el-button
        type="primary"
        icon="el-icon-document"
        :disabled="!currentFolder.label"
        @click="showCreateFolderDialog()"
        circle
    ></el-button>
</template>

<script>
    export default {
        name: 'create-folder-button',
        methods: {
            showCreateFolderDialog () {
                // Show Dialog form
                this.$store.commit({
                    type: 'folders/TOGGLE_DIALOG_FORM',
                    action: 'create'
                });
            }
        },
        computed: {
            currentFolder () {
                return this.$store.getters['folders/currentFolder'];
            }
        }
    }
</script>
