<template>
    <el-button
        type="danger"
        icon="el-icon-delete"
        :disabled="!currentItem.label"
        @click="showDeleteItemDialog()"
        circle
    ></el-button>
</template>

<script>
    export default {
        name: 'delete-button',
        methods: {
            showDeleteItemDialog () {
                this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    // Delete current item
                    this.$store.commit({
                        type: 'folders/DELETE_ITEM',
                        item: this.currentItem
                    });

                    this.$message({
                        type: 'success',
                        message: 'Delete completed'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Delete canceled'
                    });
                });
            }
        },
        computed: {
            currentItem () {
                return this.$store.getters['folders/currentItem']
            }
        }
    }
</script>
