<template>
    <el-button
        type="primary"
        size="small"
        :disabled="!currentItem.isFolder"
        @click="addToFavorite()"
        round
    >Add to favorite</el-button>
</template>

<script>
    export default {
        name: 'favorite-button',
        methods: {
            addToFavorite () {
                let check = this.pinnedFolders.indexOf(this.currentItem);
                let self = this;
                if (check == -1) {
                    // add to favorite
                    this.$store.commit({
                        type: 'folders/ADD_TO_FAVORITE',
                        item: this.currentItem
                    });
                } else {
                    self.$message({
                        type: 'warning',
                        message: 'This Folder is already in pinned list'
                    });
                }
            }
        },
        computed: {
            currentItem () {
                return this.$store.getters['folders/currentItem']
            },
            pinnedFolders () {
                return this.$store.getters['folders/pinnedFolders']
            }
        }
    }
</script>
