<template>
        <el-button
            type="warning"
            icon="el-icon-edit"
            :disabled="!currentItem.label"
            @click="showRenameItemDialog()"
            circle
        ></el-button>
</template>

<script>
    export default {
        name: 'rename-button',
        methods: {
            showRenameItemDialog () {
                // Show Dialog form
                this.$store.commit({
                    type: 'folders/TOGGLE_DIALOG_FORM',
                    action: 'rename'
                });
            }
        },
        computed: {
            currentItem () {
                return this.$store.getters['folders/currentItem']
            }
        }
    }
</script>
