<template>
    <div class="switch-view">
        <el-button
            type="info"
            icon="el-icon-tickets"
            :disabled="!currentFolder.children"
            @click="toggleItemsView()"
            v-if="itemsViewClass"
            circle
        ></el-button>
        <el-button
            type="info"
            icon="el-icon-menu"
            :disabled="!currentFolder.children"
            @click="toggleItemsView()"
            v-if="!itemsViewClass"
            circle
        ></el-button>
    </div>
</template>

<script>
    export default {
        name: 'switch-view-button',
        methods: {
            toggleItemsView() {
                // Show Dialog form
                this.$store.commit('folders/TOGGLE_ITEMS_VIEW');
            }
        },
        computed: {
            itemsViewClass () {
                return this.$store.getters['folders/itemsViewClass']
            },
            currentFolder () {
                return this.$store.getters['folders/currentFolder']
            },
        }
    }
</script>

<style>
    /*TODO: can't restyle for grid tree. Not show new styles */
    .switch-view {
        display: inline-block;
        margin-left: 10px;
    }
</style>
