<template>
    <div class="view-upload">
        <el-upload
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            multiple
            :limit="3"
            :on-exceed="handleExceed"
            :on-error="uploadFile"
            :file-list="uploadItems">
            <el-button
                type="success"
                :disabled="!currentFolder.label"
                icon="el-icon-upload"
                circle
            ></el-button>
        </el-upload>
    </div>
</template>

<script>
    export default {
        name: 'upload-button',
        data: function () {
            return {
                uploadItems: []
            }
        },
        methods: {
            handleExceed (files, fileList) {
                this.$message.warning(`The limit is 3, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
            },
            uploadFile(err, file) {
                let label = file.name;
                let ext = label.split(".").pop();
                let randomNumber = Math.round(Math.random(100)*100) + Math.round(Math.random(200)*200);

                let data ={
                    id: randomNumber,
                    isFolder: false,
                    label: label,
                    ext: ext
                };

                // Update current item
                this.$store.commit({
                    type: 'folders/UPLOAD_FILE',
                    item: data
                });

                this.$message({
                    type: 'success',
                    message: 'Upload successful!'
                });

                //TODO: in console data updated, but in view don't rerender
                //console.log('after add file CURRENT FOLDER=', this.currentFolder.children);
            }
        },
        computed: {
            currentFolder () {
                return this.$store.getters['folders/currentFolder']
            }
        }
    }
</script>

<style scoped>
    .view-upload {
        display: inline-block;
        margin-left: 10px;
    }
</style>
