<template>
    <el-dialog :visible.sync="dialogFormVisible" :show-close="false">
        <span slot="title">{{ dialogTitle }}</span>
        <el-form :model="form" :rules="rules" ref="form">
            <el-form-item :label="formLabelName" :label-width="formLabelWidth" prop="name">
                <el-input v-model="form.name" auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="closeDialog()">cancel</el-button>
            <el-button type="primary" @click="submitForm('form')">{{ action }}</el-button>
        </span>
    </el-dialog>
</template>

<script>
    export default {
        name: 'action-dialog',
        data: function () {
            return {
                form: {
                    name: ''
                },
                rules: {
                    name: [
                        { required: true, message: 'Please input name', trigger: 'blur' },
                        { min: 3, max: 50, message: 'Length should be 3 to 50', trigger: 'blur' }
                    ],
                },
                formLabelWidth: '150px'
            };
        },
        watch: {
            dialogFormVisible(value) {
                if (value && this.action == 'rename') {
                    if (this.currentItem && this.currentItem.label) {
                        this.form = {
                            name: this.currentItem.label
                        }
                    }
                } else {
                    this.form = {
                        name: ''
                    }
                }
            }
        },
        methods: {
            closeDialog () {
                // Hide Dialog form
                this.$store.commit({
                    type: 'folders/TOGGLE_DIALOG_FORM',
                    action: ''
                });
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        switch(this.action) {
                            case 'create': {
                                let randomNumber = Math.round(Math.random(100)*100) + Math.round(Math.random(200)*200);
                                let data = {
                                    id: randomNumber,
                                    isFolder: true,
                                    children: [],
                                    label: this.form.name
                                };

                                // Update current item
                                this.$store.commit({
                                    type: 'folders/CREATE_FOLDER',
                                    item: data
                                });

                                let currentNode = this.refsTree.getNode(this.currentFolder.id);

                                // Update current folder
                                this.$store.commit({
                                    type: 'UPDATE_CURRENT_FOLDER',
                                    items: currentNode.data
                                });

                                this.$set(this.currentFolder, 'children', this.currentFolder.children)

                                // TODO: in console data updated, but in view don't rerender
                                //console.log('currentNode=', this.currentFolder);

                                this.$message({
                                    type: 'success',
                                    message: 'Create Folder completed'
                                });
                                break;
                            }
                            case 'rename': {
                                // Update current item
                                this.$store.commit({
                                    type: 'folders/RENAME_CURRENT_ITEM',
                                    label: this.form.name
                                });

                                this.$message({
                                    type: 'success',
                                    message: 'Rename completed'
                                });
                                break;
                            }
                        }

                        // Hide Dialog form
                        this.closeDialog();
                    } else {
                        return false;
                    }
                });
            }
        },
        computed: {
            dialogTitle () {
                switch(this.action) {
                    case 'create': {
                        return 'Create Folder';
                    }
                    case 'rename': {
                        if (this.currentItem.isFolder) {
                            return 'Rename Folder'
                        }
                        return 'Rename File';
                    }
                }
            },
            formLabelName () {
                if (this.action == 'create') {
                    return 'Folder name:';
                } else if (!this.currentItem.isFolder) {
                    return 'File name:';
                }
                return 'Folder name:'
            },
            action () {
                return this.$store.getters['folders/action']
            },
            refsTree () {
                return this.$store.state.folders.refsTree
            },
            currentItem () {
                return this.$store.getters['folders/currentItem']
            },
            currentFolder () {
                return this.$store.getters['folders/currentFolder']
            },
            dialogFormVisible () {
                return this.$store.getters['folders/dialogFormVisible']
            }
        }
    }
</script>
