<template>
    <div class="view" v-if="currentFolder.label">
        <el-upload
            class="upload-demo"
            drag
            action="https://jsonplaceholder.typicode.com/posts/"
            :limit="3"
            :on-exceed="handleExceed"
            :on-error="uploadFile"
            :file-list="uploadItems"
            multiple>
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
        </el-upload>
    </div>
</template>

<script>
    export default {
        name: 'drag-and-drop-files',
        data: function () {
            return {
                uploadItems: []
            }
        },
        methods: {
            handleExceed(files, fileList) {
                this.$message.warning(`The limit is 3, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
            },
            uploadFile(err,file) {
                let label = file.name;
                let ext = label.split(".").pop();
                let randomNumber = Math.round(Math.random(100)*100) + Math.round(Math.random(200)*200);

                let data ={
                    id: randomNumber,
                    isFolder: false,
                    label: label,
                    ext: ext
                };

                // Update current item
                this.$store.commit({
                    type: 'folders/UPLOAD_FILE',
                    item: data
                });

//                var currentNode = this.refsWorkPlace.getNode(this.currentFolder.id);

//                this.refsWorkPlace.append(data);

                // Update current folder
//                this.$store.commit({
//                    type: 'UPDATE_CURRENT_FOLDER',
//                    items: currentNode.data
//                });

//                console.log('currentNode===', this.currentFolder);

                this.$message({
                    type: 'success',
                    message: 'Upload successful!'
                });

                //TODO: in console data updated, but in view don't rerender
                //console.log('after add file CURRENT FOLDER=', this.currentFolder.children);
            }
        },
        computed: {
            currentFolder () {
                return this.$store.getters['folders/currentFolder']
            },
            refsWorkPlace () {
                return this.$store.state.folders.refsWorkPlace;
            },
        }
    }
</script>

<style>
    .view {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
</style>