<template>
    <div>
        <el-input
            placeholder="Enter file or folder name"
            prefix-icon="el-icon-search"
            class="search"
            v-model="searchField">
        </el-input>
        <h4>Folders tree:</h4>
        <el-tree
            ref="tree"
            node-key="id"
            :data="folders"
            :props="defaultProps"
            :render-after-expand="false"
            :empty-text="emptyText"
            @node-click="handleNodeClick"
            :filter-node-method="filterNode"
            draggable
            highlight-current>
            <span class="tree-node" slot-scope="{ node, data }" v-if="data.isFolder">
                {{ data.label }}
            </span>
        </el-tree>

        <pinned-tree></pinned-tree>
    </div>
</template>

<script>
    import PinnedTree from './PinnedTree.vue'

    export default {
        name: 'folders-tree',
        components: {
            PinnedTree
        },
        data() {
            return {
                emptyText: 'No folders',
                searchField: '',
                defaultProps: {
                    children: 'children',
                    label: 'label'
                }
            };
        },
        mounted: function () {
            this.$store.commit('folders/SET_REFS_TREE', this.$refs.tree);
        },
        watch: {
            searchField(val) {
                this.$refs.tree.filter(val);

                // Update current folder
                this.$store.commit({
                    type: 'folders/UPDATE_CURRENT_FOLDER',
                    items: this.folders
                });
            }
        },
        methods: {
            handleNodeClick (data) {
                let children = data || {};

                // Update current folder
                this.$store.commit({
                    type: 'folders/UPDATE_CURRENT_FOLDER',
                    items: children
                });

                // Update current item
                this.$store.commit({
                    type: 'folders/UPDATE_CURRENT_ITEM',
                    item: false
                });
            },
            filterNode (value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            }
        },
        computed: {
            refsTree () {
                return this.$store.state.folders.refsTree;
            },
            folders () {
                return this.$store.getters['folders/folders']
            },
            currentFolder () {
                return this.$store.getters['folders/currentFolder']
            },
            currentItem () {
                return this.$store.getters['folders/currentItem']
            },
            pinnedFolders () {
                return this.$store.getters['folders/pinnedFolders']
            }
        }
    };
</script>

<style>
    .el-tree {
        margin-top: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        background-color: #D3DCE6;
    }
</style>
