<template>
    <div>
        <h4>Pinned tree:</h4>

        <!--<ul id="pinned-items">-->
            <!--<li v-for="item in pinnedItems"  @click="handleNodeClick(item)" class="pinned-item" :class="{'active': item.active}">-->
                <!--<span>{{ item.label }}</span>-->
            <!--</li>-->
        <!--</ul>-->

        <el-tree
            ref="pinnedTree"
            node-key="id"
            :data="pinnedFolders"
            :props="defaultProps"
            :empty-text="emptyText"
            @node-click="handleNodeClick"
            draggable
            highlight-current>
        <span class="tree-node" slot-scope="{ node, data }">
            {{ data.label }}
        </span>
        </el-tree>
    </div>
</template>

<script>
    export default {
        name: 'pinned-tree',
        data() {
            return {
                emptyText: 'No Pinned Folders',
                searchField: '',
                defaultProps: {
                    children: 'hideChildren',
                    label: 'label'
                }
            };
        },
        methods: {
            handleNodeClick (data) {
                let children = data || {};
                data.active = true;

                // Update current folder
                this.$store.commit({
                    type: 'folders/UPDATE_CURRENT_FOLDER',
                    items: children
                });

                // Update current item
                this.$store.commit({
                    type: 'folders/UPDATE_CURRENT_ITEM',
                    item: false
                });
            }
        },
        mounted: function () {
            this.$store.commit('folders/SET_REFS_PINNED_TREE', this.$refs.pinnedTree);
        },
        computed: {
            refsPinnedTree () {
                return this.$store.state.folders.refsPinnedTree;
            },
            pinnedFolders () {
                return this.$store.getters['folders/pinnedFolders']
            }
        },
    };
</script>

<style scoped>
    h4 {
        margin: 0;
        padding: 0;
        line-height: 30px;
    }
    ul {
        margin: 0;
        line-height: 30px;
    }
    .pinned-item {
        cursor: pointer;
    }
    .el-tree {
        margin-top: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        background-color: #D3DCE6;
    }

    .active, .pinned-item:hover {
        background-color: #f0f7ff;
    }
</style>
