<template>
    <el-input
        placeholder="Enter file or folder name"
        prefix-icon="el-icon-search"
        class="search"
        v-model="searchField">
    </el-input>
</template>

<script>
    export default {
        name: 'search',
        data: function () {
            return {
                searchField: ''
            }
        },
        watch: {
            searchField(val) {
                this.$store.state.folders.searchField = val;
                this.$refs.tree.filter(val);
            }
        }
    }
</script>

<style>
    .search {
        display: inline-block;
        width: 200px;
        margin-right: 20px;
    }
</style>
