<template>
    <div>
        <drag-and-drop-files></drag-and-drop-files>

        <!--<ul>-->
            <!--<li v-for="item in currentFolder.children">-->
                <!--{{ item.label }}-->
            <!--</li>-->
        <!--</ul>-->

        <el-tree
            ref="workPlace"
            :class="{'flex': itemsViewClass}"
            node-key="id"
            :data="currentFolder.children"
            :props="defaultProps"
            :empty-text="emptyText"
            :expand-on-click-node="false"
            :allow-drag="allowDrag"
            @node-click="handleNodeClick"
            draggable
            highlight-current
        >
             <span class="tree-node el-tree-node1" slot-scope="{ node, data }">
                <span @dblclick="updateCurrentFolder()"
                >{{ data.ext ? (data.label +'.'+ data.ext) : data.label }}</span>
            </span>
        </el-tree>

        <action-dialog></action-dialog>
    </div>
</template>

<script>
    import ActionDialog from './ActionDialog.vue';
    import DragAndDropFiles from './DragAndDropFiles.vue';

    export default {
        name: 'work-place',
        components: {
            ActionDialog,
            DragAndDropFiles
        },
        data: function () {
            return {
                emptyText: 'No items',
                defaultProps: {
                    label: 'label',
                    children: 'childrenHide'
                }
            }
        },
        mounted: function () {
            this.$store.commit('folders/SET_REFS_WORK_PLACE', this.$refs.workPlace);
        },
        methods: {
            updateCurrentFolder () {
                if (this.currentItem && this.currentItem.isFolder) {
                    let children = this.currentItem || {};
                    // Update current folder
                    this.$store.commit({
                        type: 'folders/UPDATE_CURRENT_FOLDER',
                        items: children
                    });

                    // Update current item
                    this.$store.commit({
                        type: 'folders/UPDATE_CURRENT_ITEM',
                        item: false
                    });
                }
            },
            handleNodeClick (data) {
                if (data) {
                    // Update current item
                    this.$store.commit({
                        type: 'folders/UPDATE_CURRENT_ITEM',
                        item: data
                    });
                }
            },
            allowDrag() {
                return !this.itemsViewClass;
            }
        },
        computed: {
            currentFolder () {
                return this.$store.getters['folders/currentFolder']
            },
            currentItem () {
                return this.$store.getters['folders/currentItem']
            },
            itemsViewClass () {
                return this.$store.getters['folders/itemsViewClass']
            }
        }
    }
</script>

<style scoped>
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .el-tree-node__content {
        padding: 40px !important;
        background-color: #f7f7f7;
    }
    .el-tree-node {
        padding: 40px !important;
    }
</style>
