<template>
  <div id="app">
    <el-container>
      <!-- favorite button and folder tree -->
      <el-aside width="400px">
        <folders-tree></folders-tree>
      </el-aside>

      <el-container>
        <!-- search and buttons -->
        <el-header>
          <favorite-button></favorite-button>
          <create-folder-button></create-folder-button>
          <rename-button></rename-button>
          <delete-button></delete-button>
          <upload-button></upload-button>
          <switch-view-button></switch-view-button>
        </el-header>

        <!-- Main work place (files an folder structure)-->
        <el-main>
          <work-place></work-place>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import FavoriteButton from './components/buttons/Favorite.vue';
import CreateFolderButton from './components/buttons/CreateFolder.vue';
import DeleteButton from './components/buttons/Delete.vue';
import RenameButton from './components/buttons/Rename.vue';
import SwitchViewButton from './components/buttons/SwitchView.vue';
import UploadButton from './components/buttons/Upload.vue';
import Search from './components/Search.vue';
import FoldersTree from './components/FoldersTree.vue';
import WorkPlace from './components/WorkPlace.vue';

export default {
  name: 'app',
  components: {
    Search,
    FavoriteButton,
    CreateFolderButton,
    RenameButton,
    DeleteButton,
    SwitchViewButton,
    UploadButton,
    FoldersTree,
    WorkPlace
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.el-container {
  height: calc(100vh - 20px);
  min-height: 500px;
}

.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
  text-align: right;
}

.el-aside {
  padding-left: 15px;
  background-color: #D3DCE6;
  color: #333;
  line-height: 60px;
  text-align: left;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: left;
  line-height: 60px;
}
</style>
